.section-title {
  margin: 0;
  margin-bottom: 10px;

  font-size: var(--title-fz);
  font-weight: 500;
  text-align: center;
}

.link {
  font-size: var(--basic-fz);
  color: var(--color-blue-light)
}
