*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);

  background-color: var(--color-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;

  font: inherit;
  color: inherit;

  background: transparent;
  border: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  border: 0;
}

#root {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
