:root {
  --color-white: #f5f2e8;
  --color-brand-light: #f2a278;
  --color-brand: #f07b61;
  --color-blue-light: #8ca7ce;
  --color-blue: #153956;
  --color-dark-blue: #002e4d;
  --color-black: #000000;

  --basic-fz: 18px;
  --title-fz: 22px;
  --button-fz: 16px;
}

@media (max-width: 500px) {
  :root {
    --basic-fz: 14px;
    --title-fz: 18px;
    --button-fz: 15px;
  }
}

