.box {
  width: 300px;
}

.label {
  display: block;

  margin-bottom: 5px;

  font-size: 16px;
  color: var(--color-brand-light);
}

.input {
  display: block;

  padding: 8px 12px 5px 8px;

  font-size: 14px;
  line-height: 22px;
  color: var(--color-white);

  background-color: var(--color-dark-blue);
  border: none;
  border-bottom: 3px solid var(--color-dark-blue);

  transition: 200ms;
}

.input:focus {
  border-bottom: 3px solid var(--color-brand-light);
  outline: none;
}

.span {
}
