.box {
  position: relative;

  display: inline-block;

  width: fit-content;
  margin-top: 14px;
  margin-right: 24px;

  background-color: var(--color-dark-blue);
}

.box--art {
  margin-right: 85px;
}

.button {
  cursor: pointer;

  position: relative;
  top: -12px;
  left: 12px;

  padding: 10px 20px;

  font-family: inherit;
  font-size: var(--button-fz);
  font-weight: 700;
  color: #153956;

  background-color: #f07b61;

  transition: all 200ms ease;
}

.button:active {
  top: -6px;
  left: 6px;
}

.star-wrapper {
  position: absolute;
  top: 0;
  right: -100px;

  width: 100px;
  height: 40px;
}

@media (max-width: 500px) {
  .star-wrapper {
    display: none;
  }

  .box--art {
    margin-right: 10px;
  }
}

.star {
  position: absolute;

  background-image: url('../../../assets/icons/star.svg');
  background-size: cover;
}

.star-big {
  top: 35px;
  left: 28px;

  width: 14px;
  height: 14px;
}

.star-mid {
  top: 25px;
  left: 55px;

  width: 8px;
  height: 8px;
}

.star-far {
  top: 40px;
  left: 75px;

  width: 8px;
  height: 8px;
}
