.label {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
}

.checkbox {
  cursor: pointer;

  transform: rotateY(0deg);

  width: 20px;
  height: 20px;
  margin-right: 10px;

  background-color: var(--color-dark-blue);
  border: 2px solid var(--color-brand);

  transition: 200ms;

  appearance: none;
}

.checkbox:checked {
  transform: rotateY(180deg);

  background-image: url('checked2.svg');
  background-size: cover;
}
